<div class="px-8 py-10">

  <!-- Título dinámico -->
  <div class="mb-6">
    @if (currentGenreName) {
      <h1 class="text-white text-3xl font-bold">
        Género: <span class="text-[#FACD3D]">{{ currentGenreName }}</span>
      </h1>
    } @else {
      <h1 class="text-white text-3xl font-bold">Explorar</h1>
    }
  </div>

  <!-- Buscador -->
  <div class="flex gap-3 mb-10">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      (keyup.enter)="search()"
      placeholder="Busca un artista..."
      class="flex-1 bg-[#1A1A1A] border border-[#535353] rounded-xl
             px-5 py-3 text-white text-sm outline-none
             focus:border-[#FACD3D] transition-colors"
    />
    <button
      (click)="search()"
      class="px-6 py-3 bg-[#FACD3D] text-black font-semibold
             rounded-xl hover:bg-yellow-300 transition-colors">
      Buscar
    </button>
  </div>

  <!-- Loading -->
  @if (loading) {
    <div class="flex justify-center py-20">
      <div class="w-10 h-10 border-4 border-[#FACD3D] border-t-transparent
                  rounded-full animate-spin"></div>
    </div>
  }

  <!-- Resultados -->
  @if (!loading && artists.length > 0) {
    <div class="grid grid-cols-5 gap-4">
      <!-- RÚBRICA #5 — @for en lugar de *ngFor -->
      @for (artist of artists; track artist.id) {
        <div
          (click)="goToArtist(artist.id)"
          class="bg-[#1A1A1A] rounded-xl p-4 cursor-pointer
                 hover:bg-[#242424] transition-colors text-center">

          <!-- RÚBRICA #7 — Property binding [src] -->
          <img
            [src]="artist.picture_medium"
            [alt]="artist.name"
            class="w-full aspect-square object-cover rounded-full mb-3"
          />

          <!-- RÚBRICA #7 — Interpolación {{ }} -->
          <p class="text-white text-sm font-medium truncate">
            {{ artist.name }}
          </p>
        </div>
      }
    </div>
  }

  <!-- Sin resultados -->
  @if (!loading && artists.length === 0 && (searchQuery || currentGenreName)) {
    <div class="text-center py-20">
      <p class="text-[#A0A0A0] text-lg">No se encontraron artistas</p>
      <p class="text-[#535353] text-sm mt-2">Intenta con otro término</p>
    </div>
  }

</div>